@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    width: 1368px;
    margin: 0 auto;
}

.advantages__img-hidden {
    display: none
}

@import 'blocks/header';
@import 'blocks/info';
@import 'blocks/product';
@import 'blocks/advantages';
@import 'blocks/media';