.advantages {
    position: relative;
    min-height: 817px;
    padding: 66px 0 67px 0;
    background: #F5F5F5;

    &__content {
        margin-left: 570px;
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
    }

    &__title {
        font-weight: 700;
        font-size: 30px;
        line-height: 35px;
        color: #515151;
    }

    &__text {
        margin-top: 23px;
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        color: #515151;

        .bot {
            margin-top: 35px;
        }
    }

    &__wrapper {
        margin-top: 46px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        height: 415px;
    }

    &__block {
        width: 365px;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            z-index: 3;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 20px;
            background: url('../icons/drop.svg') no-repeat;
        }

        .descr {
            margin-left: 35px;
            width: 335px;
            font-weight: 700;
            font-size: 16px;
            line-height: 26px;
            color: #515151;
        }
    }
}