.header {
    background: #515151;
    width: 100%;
    height: 297px;

    &__content {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;

        .logo {
            padding-top: 118px;
            width: 352px;
            margin-right: 48px;

            &__link {
                font-weight: bold;
                font-size: 30px;
                line-height: 35px;
                color: #FFFFFF;
                text-decoration: none;
            }
        }

        .header__blocks {
            padding-top: 66px;
            width: 968px;
            display: flex;
            justify-content: space-between;
        }

        .header__block {
            width: 448px;
            min-height: 280px;
            background: #FFFFFF;
            box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
            border-radius: 30px;
            padding: 32px 37px 49px 63px;

            &-one {
                position: relative;

                &:after {
                    content: '';
                    position: absolute;
                    z-index: 1;
                    top: 3px;
                    left: 11px;
                    width: 100%;
                    height: 100%;
                    background: url('../icons/one.svg') no-repeat;
                }
            }

            &-two {
                position: relative;

                &:after {
                    content: '';
                    position: absolute;
                    z-index: 1;
                    top: 10px;
                    left: -13px;
                    width: 100%;
                    height: 100%;
                    background: url('../icons/two.svg') no-repeat;
                }
            }

            .text {
                position: relative;
                z-index: 2;
                display: inline-block;
                margin: 0 auto;

                .title {
                    font-weight: 900;
                    font-size: 20px;
                    line-height: 26px;
                    color: #515151;
                }

                .descr {
                    display: inline-block;
                    margin-top: 47px;
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 19px;
                    color: #606060;
                }
            }
        }
    }
}