.info {
    min-height: 367px;
    background: url('../img/bg.png') center (center / cover) no-repeat;
    padding-bottom: 44px;

    &__wrapper {
        padding-top: 143px;
        display: flex;
        justify-content: space-between;

    }

    &__block {
        width: 226px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &__img {
        width: 100%;
        min-height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__text {
        width: 100%;
        margin-top: 18px;
    }

    &__title {
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        text-align: center;
        color: #FFFFFF;
    }

    &__descr {
        margin-top: 9px;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #FFFFFF;
    }
}