.product {
    min-height: 404px;
    padding-top: 63px;
    padding-bottom: 98px;

    &__title {
        font-weight: 700;
        font-size: 30px;
        line-height: 35px;
        color: #515151;
    }

    &__subtitle {
        margin-top: 24px;
        width: 450px;
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        color: #515151;
    }

    &__wrapper {
        margin-top: 70px;
        display: flex;
        justify-content: space-between;
    }

    .block {
        display: flex;
        flex-direction: column;
        border-right: 1px solid #E8E8E8;
        width: 420px;

        &:last-child {
            border-right: none;
        }

        &__descr {
            width: 300px;
        }

        &__title {
            font-weight: 900;
            font-size: 18px;
            line-height: 26px;
            color: #8EC154;
            margin-left: 70px;
            text-transform: uppercase;

            &-one {
                position: relative;

                &:after {
                    content: '';
                    position: absolute;
                    z-index: 3;
                    top: 0px;
                    left: -70px;
                    width: 100%;
                    height: 70px;
                    background: url('../icons/sponsor.svg') no-repeat;
                }
            }

            &-two {
                position: relative;

                &:after {
                    content: '';
                    position: absolute;
                    z-index: 3;
                    top: 0px;
                    left: -70px;
                    width: 100%;
                    height: 70px;
                    background: url('../icons/search.svg') no-repeat;
                }
            }

            &-three {
                position: relative;

                &:after {
                    content: '';
                    position: absolute;
                    z-index: 3;
                    top: 0px;
                    left: -70px;
                    width: 100%;
                    height: 70px;
                    background: url('../icons/patient.svg') no-repeat;
                }
            }
        }

        &__descr {
            margin-top: 14px;
            margin-left: 70px;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: #515151;
        }
    }
}